<div class="container-fluid animate__animated animate__fadeIn animate__faster">
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-info">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    href="#infoPersonal"
                    data-toggle="tab"
                  >
                    <i class="material-icons">contacts</i> Información personal
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    name="continuar"
                    id="continuar"
                    href="#perfilEinteres"
                    data-toggle="tab"
                  >
                    <i class="material-icons">psychology</i> Perfil e intereses
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="infoPersonal">
              <form [formGroup]="userForm">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Usuario</label>
                      <input
                        formControlName="username"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Nombre</label>
                      <input
                        formControlName="nombre"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Apellido</label>
                      <input
                        formControlName="apellido"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating"
                        >Fecha de nacimiento</label
                      >
                      <input
                        formControlName="fechaNacimiento"
                        type="date"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="cmbSexo">Género</label>
                      <div class="form-control">
                        <mat-select
                          formControlName="sexo"
                          id="cmbSexo"
                          class="px-3"
                        >
                          <mat-option value="Masculino"> Masculino </mat-option>
                          <mat-option value="Femenino"> Femenino </mat-option>
                          <mat-option value="Otro"> Otro </mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Email</label>
                      <input
                        formControlName="email"
                        type="email"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Teléfono</label>
                      <input
                        formControlName="telefono"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Celular</label>
                      <input
                        formControlName="celular"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Ciudad</label>
                      <input
                        formControlName="ciudad"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Pais</label>
                      <input
                        formControlName="pais"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div *ngIf="rol === 'Mentor'" class="col-md-4">
                    <div class="form-group">
                      <label for="cmbRol">Rol</label>
                      <div class="form-control">
                        <mat-select
                          formControlName="rol"
                          id="cmbRol"
                          class="px-3"
                        >
                          <mat-option value="Mentor"> Mentor </mat-option>
                          <mat-option value="Emprendedor">
                            Emprendedor
                          </mat-option>
                          <mat-option value="Tutor"> Tutor </mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane" id="perfilEinteres">
              <form [formGroup]="userProfileForm">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Profesión</label>
                      <input
                        formControlName="profesion"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Ocupación</label>
                      <input
                        formControlName="ocupacion"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Tipo de proyecto</label>
                      <input
                        formControlName="tipoProyecto"
                        type="text"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="habilidades">Habilidades</label>
                      <textarea
                        class="form-control"
                        formControlName="habilidades"
                        rows="3"
                        id="habilidades"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="intereses">Interéses</label>
                      <textarea
                        class="form-control"
                        formControlName="intereses"
                        rows="3"
                        id="intereses"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="acercaDe">Acerca de</label>
                      <textarea
                        id="acercaDe"
                        formControlName="acercaDe"
                        class="form-control"
                        rows="3"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <button
              [disabled]="disabledButton"
              class="btn btn-primary pull-right"
              (click)="setProfileUser()"
            >
              Actualizar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-profile">
        <div class="card-avatar">
          <label for="imageuser">
            <img class="img" [src]="previewimage || urlImage" style="height: 130px; cursor: pointer; min-width: 140px;" />
          </label>
          <input
              type="file"
              style="display: none"
              (change)="onFileSelect($event)"
              id="imageuser"
            />
        </div>
        <div class="card-body">
          <label class="photo-profile" for="imageuser">
            Cambiar foto de perfil
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-9">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Contraseña</h4>
          <p class="card-category">Seguridad de cuenta</p>
        </div>
        <div class="card-body">
          <form  [formGroup]="userPassForm">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Contraseña actual</label>
                  <input
                    type="password"
                    class="form-control"
                    autocomplete="on"
                    formControlName="currentPass"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Contraseña nueva</label>
                  <input
                    type="password"
                    class="form-control"
                    autocomplete="on"
                    formControlName="passNew"
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating"
                    >Confirmar nueva contraseña</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    autocomplete="on"
                    formControlName="passNewConfirm"
                  />
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary pull-right"
            [disabled]="userPassForm.invalid"
            (click)="setPass()">
              Actualizar contraseña
            </button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
