<div class="container-login ">
  <!-- <div class="navbar"><h1>Div1</h1></div> -->
  <div class="content">
    <div class="card">
      <form [formGroup] = "loginForm">
        <div class="form-group">
          <img class="logoLogin" src="../../../assets/logoLogin.png" />
        </div>
        <div class="form-group">
          <label class="label-input" for="idUser"
            >Nombre de usuario o email</label
          >
          <input formControlName="identifier" type="text" id="idUser" name="idUser" autocomplete="on" />
        </div>

        <div class="form-group">
          <label class="label-input" for="passUser">Constraseña</label>
          <input
            formControlName="password"
            type="password"
            id="passUser"
            name="passUser"
            autocomplete="on"
          />
        </div>

        <div class="form-group">
          <button name="btnIngresar" id="btnIngresar" class="btnIngresar" (click)="validateLogin()">
            Ingresar
          </button>
        </div>

        <!-- <div class="form-group">
          <a href="#" class="forgetPass">¿Has olvidado la contraseña?</a>
        </div> -->
      </form>
    </div>
  </div>
  <div class="footer">
    <label class="content-footer">
      Copyright © 2020 - Emprende Con Éxito | Política de privacidad y cookies
    </label>
  </div>
</div>
