<div
  class="container-fluid animate__animated animate__fadeInUp animate__faster"
>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Módulo</h4>
        </div>
        <div class="card-body table-responsive">
          <div class="row my-3 mx-2">
            <div class="col-md-10">
              <form [formGroup]="moduleForm">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating"
                        >Nombre del módulo</label
                      >
                      <input
                        formControlName="nombre"
                        type="text"
                        class="form-control"
                      />
                      <span style="color: red;" *ngIf="this.moduleForm.get('nombre').hasError('pattern') ">
                        Este campo solo permite texto
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="desc">Descripción del módulo</label>
                      <textarea
                        class="form-control"
                        formControlName="descripcion"
                        id="desc"
                        rows="15"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="cmbRol">Tutor</label>
                      <div class="form-control">
                        <mat-select
                          formControlName="users_permissions_user"
                          id="cmbRol"
                          class="px-3"
                        >
                          <mat-option
                            *ngFor="let item of tutores"
                            [value]="item.id"
                          >
                            {{ item.nombre }} {{ item.apellido }}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-2 col-sm-12">
              <div class="row">
                <div class="col-md-12 text-center">
                  <circle-progress *ngIf="rol === 'Emprendedor'" [(percent)]="porcentaje" [radius]="90" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="1000">
                 </circle-progress>
                  <label *ngIf="rol === 'Mentor'" for="imageuser">
                    <img
                      class="card-img-top"
                      [src]="previewimage || urlImage"
                      alt="Card image cap"
                      style="max-width: 200px; max-width: 200px"
                    />
                  </label>
                  <label *ngIf="rol =='Tutor'">
                    <img
                      class="card-img-top"
                      [src]="previewimage || urlImage"
                      alt="Card image cap"
                      style="max-width: 200px; max-width: 200px"
                    />
                  </label>
                  <input
                    type="file"
                    style="display: none"
                    (change)="onFileSelect($event)"
                    id="imageuser"
                  />
                </div>
                <div *ngIf="rol === 'Mentor'" class="card-body text-center">
                  <label class="photo-book" for="imageuser">
                    Cambiar imagen
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          *ngIf="rol === 'Mentor'"
          class="btn btn-primary mx-auto mb-4"
          [disabled]="moduleForm.invalid"
          (click)="updateModule()"
        >
          Actualizar Módulo
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 s">
      <div class="card">
        <div class="card-header card-header-info">
          <div class="row">
            <div class="col-lg-6 col-md-6 align-self-center">
              <h4 class="card-title">Lecciones</h4>
            </div>
            <!-- *ngIf="idModule !== null" -->
            <div
              *ngIf="rol === 'Mentor'"
              class="col-lg-6 col-md-6 s text-right align-self-center"
            >
              <a
                title="Agregar lección"
                routerLink="../../creacion-leccion"
                class="btn btn-primary btn-fab btn-fab-mini btn-round m-0 p-0"
              >
                <i class="material-icons">queue</i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive">
          <div class="row mx-1">
            <input
              type="text"
              value=""
              class="form-control"
              placeholder="Buscar lección..."
            />
          </div>
          <div class="row">
            <div *ngIf="lessons.length === 0" class="col-md-12">
              <h3 class="text-center pt-4">Sin lecciones</h3>
            </div>
            <div *ngFor="let lesson of lessons; let i = index" class="col-md-2">
              <div *ngIf="lessons.length > 0" class="card card-program">
                <img
                  class="card-img-top"
                  [src]="getFile(lesson.imagen.url)"
                  rel="nofollow"
                  alt="Card image cap"
                  (click)="navigateLesson(lesson)"
                  style="height: 200px;"
                />
                <div class="card-body">
                  <h3 class="card-title text-center">{{ lesson.nombre }}</h3>
                  <div
                    *ngIf="rol === 'Mentor'"
                    class="card-footer justify-content-center"
                  >
                    <a title="Editar lección" (click)="navigateLesson(module)">
                      <i class="material-icons text-primary mx-2">edit</i>
                    </a>
                    <a
                      title="Eliminar lección"
                      (click)="deleteLesson(lesson.id)"
                    >
                      <i class="material-icons text-danger mx-2">delete</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
