<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 s">
      <div class="card">
        <div class="card-header card-header-info">
          <div class="row">
            <div class="col-lg-6 col-md-6 s">
              <h4 class="card-title">Listado de programas</h4>
            </div>
            <div class="col-lg-6 col-md-6 s text-right align-self-center">
              <a
                title="Agregar programa"
                routerLink="../creacion-programa"
                class="btn btn-primary btn-fab btn-fab-mini btn-round m-0 p-0"
              >
                <i class="material-icons">library_add</i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive">
          <div class="row">
            <div *ngIf="programs.length === 0" class="col-md-12">
              <h3 class="text-center">Sin programas</h3>
            </div>
            <div *ngFor="let program of programs; let i = index" class="col-md-3">
              <div *ngIf="programs.length > 0" class="card" >
                <img class="card-img-top" [src]="getFile(program.imagen.url)" rel="nofollow" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title text-center">{{program.nombre}}</h3>
                  <div class="card-footer justify-content-center">
                    <a href="#pablo" title="Editar programa">
                      <i class="material-icons text-primary" >edit</i>
                    </a>
                    <a href="#pablo" title="Eliminar programa" >
                        <i  class="material-icons text-danger">delete</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
