.input-table {
  outline: none;
  border: 0px;
  text-decoration: none;
  border-radius: 0.3em;
  background: rgb(240, 234, 234);
  padding: 1em;
}

#videos {
  max-height: 400px;
  overflow-y: auto;
}

.main-section{
	margin:0 auto;
	padding: 20px;
	margin-top: 100px;
	background-color: #fff;
	box-shadow: 0px 0px 20px #c1c1c1;
}
.fileinput-remove,
.fileinput-upload{
	display: none;
}


/* width */
::-webkit-scrollbar {
  width:  7px;   /* Tamaño del scroll en vertical */
  height: 7px;    /* Tamaño del scroll en horizontal */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2770A4;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #17517a;
}

