<div class="container-fluid">
  <div class="text-right align-self-center" *ngIf="data.showProgram">
    <a
      title="Cerrar"
      class="btn btn-danger btn-fab btn-fab-mini"
      mat-button
      mat-dialog-close
    >
      <i class="material-icons">close</i>
    </a>
  </div>

  <h3 *ngIf="data.showVideos || data.showImages || data.showFiles">
    Añade tus recursos.
  </h3>
  <h2 *ngIf="data.showFollow">Actualizar seguimiento.</h2>
  <h3 *ngIf="data.showFollow">Solo se admiten 500 caracteres</h3>
  <h3 *ngIf="data.showResetPass">
    Por favor ingrese el email para restablecer su contraseña.
  </h3>

  <div *ngIf="!data.showProgram" class="row mx-2 my-3">
    <div
      *ngIf="data.showVideos"
      class="tab-pane active rounded table-responsive"
      id="videos"
    >
      <table class="table" id="tableImg">
        <thead>
          <tr>
            <th scope="col">Titulo</th>
            <th scope="col">URL</th>
            <th scope="col" style="text-align: right">
              <a
                title="Agregar nueva fila"
                (click)="addRow()"
                class="btn btn-primary btn-fab btn-fab-mini btn-round"
              >
                <i class="material-icons">video_call</i>
              </a>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr class="tableRow" *ngFor="let video of videos">
            <td>
              <input
                [(ngModel)]="video.titulo"
                type="text"
                class="input-table"
              />
            </td>
            <td colspan="2">
              <input
                [(ngModel)]="video.URL"
                type="text"
                class="input-table"
                style="min-width: 280px"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      *ngIf="data.showImages"
      class="tab-pane active rounded table-responsive"
    >
      <div class="tab-pane ml-3" id="imagenes" aria-expanded="false">
        <div class="form-group form-file-upload form-file-multiple">
          <input
            (change)="onChangeIMG($event)"
            id="multiSelectIMG"
            type="file"
            multiple
            class="inputFileHidden"
          />
          <div class="input-group">
            <input
              style="min-width: 600px"
              (click)="addFileIMG()"
              [(ngModel)]="nameIMG"
              type="text"
              class="form-control inputFileVisible"
              placeholder="Imagenes"
              multiple
            />
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-fab btn-round btn-primary"
                (click)="addFileIMG()"
              >
                <i class="material-icons">layers</i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="data.showFiles"
      class="tab-pane active rounded table-responsive"
    >
      <div class="tab-pane ml-3" id="archivos" aria-expanded="false">
        <div class="form-group form-file-upload form-file-multiple">
          <input
            (change)="onChangeDOC($event)"
            id="multiSelectDOC"
            type="file"
            multiple
            class="inputFileHidden"
          />
          <div class="input-group">
            <input
              style="min-width: 600px"
              (click)="addFileDOC()"
              [(ngModel)]="nameDOC"
              type="text"
              class="form-control inputFileVisible"
              placeholder="Archivos"
              multiple
            />
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-fab btn-round btn-primary"
                (click)="addFileDOC()"
              >
                <i class="material-icons">layers</i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="data.showFollow">
      <div class="ml-3">
        <div class="form-group">
          <textarea
            class="form-control"
            [(ngModel)]="data.descripcion"
            id="desc"
            rows="6"
            style="width: 700px"
            maxlength="500"
          ></textarea>
        </div>
      </div>
    </div>

    <div
      *ngIf="data.showUpdateVideo"
      class="tab-pane active rounded table-responsive"
    >
      <div class="tab-pane ml-3" id="archivos" aria-expanded="false">
        <div class="form-group form-file-upload form-file-multiple">
          <table class="table" id="tableImg">
            <thead>
              <tr>
                <th scope="col">Titulo</th>
                <th scope="col">URL</th>
              </tr>
            </thead>

            <tbody>
              <tr class="tableRow">
                <td>
                  <input
                    [(ngModel)]="data.titulo"
                    type="text"
                    class="input-table"
                  />
                </td>
                <td colspan="2">
                  <input
                    [(ngModel)]="data.URL"
                    type="text"
                    class="input-table"
                    style="min-width: 280px"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div *ngIf="data.showResetPass">
      <div class="ml-3">
        <div class="form-group">
          <label class="bmd-label-floating">Email</label>
          <input
            class="form-control"
            [(ngModel)]="userEmail"
            type="email"
            style="width: 400px; font-size: 25px"
          />
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="data.showProgram">
    <div>
      <div class="form-group">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th style="width: 300px" scope="col">Nombre programa</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let program of data.programas; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td style="width: 300px">{{ program }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="data.showVideos" class="pull-right">
    <button class="btn btn-danger mr-2" mat-button mat-dialog-close>
      Cancelar
    </button>
    <button
      class="btn btn-primary"
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      (click)="insertURL(data.id)"
    >
      Guardar
    </button>
  </div>

  <div *ngIf="data.showFollow" class="pull-right">
    <button class="btn btn-danger mr-2" mat-button mat-dialog-close>
      Cancelar
    </button>
    <button
      class="btn btn-primary"
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      (click)="updateFollow(data.id)"
    >
      Guardar
    </button>
  </div>

  <div *ngIf="data.showImages" class="pull-right">
    <button class="btn btn-danger mr-2" mat-button mat-dialog-close>
      Cancelar
    </button>
    <button
      class="btn btn-primary"
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      (click)="uploadFilesIMG(data.id)"
    >
      Guardar
    </button>
  </div>

  <div *ngIf="data.showFiles" class="pull-right">
    <button class="btn btn-danger mr-2" mat-button mat-dialog-close>
      Cancelar
    </button>
    <button
      class="btn btn-primary"
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      (click)="uploadFilesDOC(data.id)"
    >
      Guardar
    </button>
  </div>

  <div *ngIf="data.showUpdateVideo" class="pull-right">
    <button class="btn btn-danger mr-2" mat-button mat-dialog-close>
      Cancelar
    </button>
    <button
      class="btn btn-primary"
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      (click)="updateVideo()"
    >
      Guardar
    </button>
  </div>

  <div *ngIf="data.showResetPass" class="pull-right">
    <button class="btn btn-danger mr-2" mat-button mat-dialog-close>
      Cancelar
    </button>
    <button
      class="btn btn-primary"
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      (click)="sendEmail()"
    >
      Enviar email
    </button>
  </div>
</div>
