<div
  class="container-fluid animate__animated animate__fadeInBottomLeft animate__faster"
>
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Datos de usuario</h4>
          <p class="card-category">Información personal y de seguimiento</p>
        </div>
        <div class="card-body">
          <form [formGroup]="userForm">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Usuario</label>
                  <input
                    formControlName="username"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Nombre</label>
                  <input
                    formControlName="nombre"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Apellido</label>
                  <input
                    formControlName="apellido"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Email</label>
                  <input
                    formControlName="email"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Teléfono</label>
                  <input
                    formControlName="telefono"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Celular</label>
                  <input
                    formControlName="celular"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Estado</label>

                  <div class="togglebutton">
                    <label>
                      <input type="checkbox" formControlName="estado" />
                      <span class="toggle"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="cmbRol">Programa</label>
                  <div class="form-control">
                    <mat-select id="cmbRol" class="px-3">
                      <mat-option
                        *ngFor="let item of programas"
                        [value]="item.id"
                      >
                        {{ item.nombre }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating"
                    >Fecha último seguimiento</label
                  >
                  <input
                    formControlName="fechaUltimoSeguimiento"
                    type="date"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating"
                    >Fecha próximo seguimiento</label
                  >
                  <input
                    formControlName="fechaProximoSeguimiento"
                    type="date"
                    class="form-control"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h3>Seguimientos</h3>
              </div>

              <div class="col-md-12" id="seguimientos">
                <div class="card mt-0">
                  <p class="text-center" *ngIf="seguimientos.length === 0">
                    El usuario no registra ningun seguimiento
                  </p>

                  <div class="col-md-12 pt-3">
                    <table class="table" *ngIf="seguimientos.length > 0">
                      <tbody>
                        <tr *ngFor="let item of seguimientos">
                          <td style="width: 100px">
                            {{ item.fecha_ultimoseguimiento }}
                          </td>
                          <td style="width: 100px">
                            {{ item.users_permissions_user.nombre }}
                            {{ item.users_permissions_user.apellido }}
                          </td>
                          <td style="width: 200px">{{ item.descripcion }}</td>
                          <td
                            (click)="openDialog(item.descripcion, item.id)"
                            style="width: 50px; cursor: pointer"
                          >
                            <i class="material-icons text-primary mx-2">edit</i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h3>Descripción seguimiento</h3>
              </div>

              <div class="col-md-10">
                <div class="form-group">
                  <textarea
                    class="form-control"
                    formControlName="descripcion"
                    id="desc"
                    rows="4"
                  ></textarea>
                  <span style="color: red;" *ngIf="this.userForm.get('nombre').hasError('maxLength') ">
                    Este campo solo permite max 100 caracteres
                  </span>
                </div>
              </div>
            </div>

            <button
              type="submit"
              (click)="setUser()"
              [disabled]="userForm.invalid"
              class="btn btn-primary pull-right"
            >
              Actualizar
            </button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-profile">
        <div class="card-avatar">
          <img
            class="img"
            [src]="profilePicture || '../../../assets/imagenPerfil.jpg'"
          />
        </div>
        <div class="card-body" *ngIf="profileInfo">
          <h4 class="card-text text-center">Emprendedor</h4>
          <h5 class="card-title text-left text-gray">Nombre:</h5>
          <h4 class="card-title text-left">
            {{ userForm.get("nombre").value }}
            {{ userForm.get("apellido").value }}
          </h4>
          <h5 class="card-title text-left text-gray">Profesión:</h5>
          <h4 class="card-text text-left">{{ profileInfo.profesion }}</h4>
          <h5 class="card-title text-left text-gray">Ocupación:</h5>
          <h4 class="card-text text-left">{{ profileInfo.ocupacion }}</h4>
          <h5 class="card-title text-left text-gray">Habilidades:</h5>
          <textarea rows="4" class="form-control" disabled>{{
            profileInfo.habilidades
          }}</textarea>
          <h5 class="card-title text-left text-gray mt-3">Intereses:</h5>
          <textarea rows="5" class="form-control" disabled>{{
            profileInfo.intereses
          }}</textarea>
          <h5 class="card-title text-left text-gray mt-3">Tipo de proyecto:</h5>
          <textarea rows="3" class="form-control" disabled>{{
            profileInfo.tipoProyecto
          }}</textarea>
          <h5 class="card-title text-left text-gray mt-3">Acerca de:</h5>
          <textarea rows="5" class="form-control" disabled>{{
            profileInfo.acercaDe
          }}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>
