<div class="container-fluid animate__animated animate__fadeInBottomLeft animate__faster">

  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Datos de usuario</h4>
          <p class="card-category">Información personal y de seguimiento</p>
        </div>
        <div class="card-body">
          <form [formGroup]="userForm">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Usuario</label>
                  <input formControlName="username" type="text" class="form-control" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Nombre</label>
                  <input  formControlName="nombre" type="text" class="form-control" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Apellido</label>
                  <input  formControlName="apellido" type="text" class="form-control" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Correo electronico</label>
                  <input  formControlName="email" type="text" class="form-control" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Teléfono</label>
                  <input formControlName="telefono"  type="text" class="form-control" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Celular</label>
                  <input formControlName="celular"  type="text" class="form-control" />
                </div>
              </div>


            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Programas </label>
                  <input type="text" class="form-control" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Fecha último seguimiento</label>
                  <input formControlName="fechaProximoSeguimiento" type="date" class="form-control" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Fecha próximo seguimiento</label>
                  <input formControlName="fechaProximoSeguimiento" type="date" class="form-control" />
                </div>
              </div>


            </div>

            <div class="row">

              <div class="col-md-12">
                <h3> Seguimientos</h3>
              </div>

              <div class="col-md-12">
                <div class="card mt-0">

                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="text-center">
                          <span class="material-icons">visibility</span>
                        </td>
                        <td>21-10-2020</td>
                        <td>Jefferson Ramirez</td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <span class="material-icons">visibility</span>
                        </td>
                        <td>22-10-2020</td>
                        <td>Miguel Castrillón</td>
                      </tr>
                      <tr>
                        <td class="text-center">
                          <span class="material-icons">visibility</span>
                        </td>
                        <td>23-10-2020</td>
                        <td>James Rodriguez</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <h3> Descripción seguimiento</h3>
              </div>

              <div class="col-md-8">
                <div class="form-group">
                  <textarea class="form-control" formControlName="descripcion" id="desc" rows="4"></textarea>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Programar próximo seguimiento</label>
                  <input formControlName="fechaProximoSeguimiento" type="date" class="form-control" />
                </div>
              </div>


            </div>

            <button type="submit" (click)="setUser()" class="btn btn-primary pull-right">
              Actualizar
            </button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>



    <div class="col-md-3">
      <div class="card card-profile">
        <div class="card-avatar">
          <img class="img" src="../../../assets/imagenPerfil.jpg" />
        </div>
        <div class="card-body">
          <h4 class="card-category text-gray">Emprendedor</h4>
          <h4 class="card-title">Juan</h4>
          <h5 class="card-category text-gray">Profesión: </h5>
          <h5 class="card-category text-gray">Ocupación: </h5>
          <h4 class="card-title">Habilidades</h4>
          <h5 class="card-category text-gray">Habilidad </h5>
          <h4 class="card-title">Intereses</h4>
          <h5 class="card-category text-gray">Interse-interes </h5>
          <h4 class="card-title">Tipo de proyecto </h4>
          <h5 class="card-category text-gray">proyecto-interes </h5>
          <h4 class="card-title">Acerca de </h4>
          <h5 class="card-category text-gray">informacion acerca del emprendedor </h5>
        </div>
      </div>
    </div>
  </div>

</div>
