<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Perfil</h4>
          <p class="card-category">Información personal</p>
        </div>
        <div class="card-body">
          <form [formGroup]="userForm">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Nick</label>
                  <input formControlName="nick" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Nombre</label>
                  <input formControlName="nombre" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Apellido</label>
                  <input formControlName="apellido" type="text" class="form-control" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Fecha de nacimiento</label>
                  <input formControlName="fechaNacimiento"  type="date" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Sexo</label>
                  <select formControlName="sexo"
                    class="form-control selectpicker"
                    data-style="btn btn-link"
                    id="exampleFormControlSelect1"
                  >
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Email</label>
                  <input formControlName="email" type="email" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Telefono</label>
                  <input formControlName="telefono" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Celular</label>
                  <input formControlName="celular" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Ciudad</label>
                  <select formControlName="ciudad"
                    class="form-control selectpicker"
                    data-style="btn btn-link"
                    id="exampleFormControlSelect1"
                  >
                    <option value="Cali">Cali</option>
                    <option value="Medellin">Medellin</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Pais</label>
                  <select  formControlName="pais"
                    class="form-control selectpicker"
                    data-style="btn btn-link"
                    id="exampleFormControlSelect1"
                  >
                    <option value="Colombia">Colombia</option>

                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Rol</label>
                  <select
                    class="form-control selectpicker"
                    data-style="btn btn-link"
                    id="exampleFormControlSelect1"
                  >
                    <option>x</option>
                    <option>y</option>
                    <option>z</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Contraseña</label>
                  <input formControlName="password" type="password" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Confirmar contraseña</label>
                  <input type="password" class="form-control" />
                </div>
              </div>
            </div>

            <button [disabled]="userForm.invalid" (click)="createUser()" class="btn btn-primary pull-right">
              Actualizar perfil
            </button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-profile">
        <div class="card-avatar">
          <img class="img" src="../../../assets/imagenPerfil.jpg" />
        </div>
        <div class="card-body">
          <span class="btn btn-primary btn-file">
            Añadir foto de perfil<input type="file" />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
