<div
  class="container-fluid animate__animated animate__fadeInUp animate__faster"
>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Programa</h4>
        </div>
        <div class="card-body table-responsive">
          <div class="row my-3 mx-2">
            <div class="col-md-10">
              <form [formGroup]="programForm">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating"
                        >Nombre del programa</label
                      >
                      <input
                        formControlName="nombre"
                        type="text"
                        class="form-control"
                      />
                      <span style="color: red;" *ngIf="this.programForm.get('nombre').hasError('pattern') ">
                        Este campo sólo permite caracteres alfanuméricos
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="desc">Descripción del programa</label>
                      <textarea
                        class="form-control"
                        formControlName="descripcion"
                        id="desc"
                        rows="4"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-2 col-sm-12">
              <div class="row">
                <div class="col-md-12 text-center">
                    <label for="imageuser">
                      <img
                        class="card-img-top"
                        [src]="previewimage || '../../../assets/photo.png'"
                        alt="Card image cap"
                        style="max-width: 200px; max-width: 200px"
                      />
                    </label>
                    <input
                      type="file"
                      style="display: none"
                      (change)="onFileSelect($event)"
                      id="imageuser"
                    />
                </div>
                <div class="card-body text-center">
                  <label class="photo-book " for="imageuser">
                    Agregar imagen
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          *ngIf="indButton"
          class="btn btn-primary mx-auto mb-4"
          [disabled]="programForm.invalid"
          (click)="createProgram()"
        >
          Crear programa
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 s">
      <div class="card">
        <div class="card-header card-header-info">
          <div class="row">
            <div class="col-lg-6 col-md-6 align-self-center">
              <h4 class="card-title">Módulos</h4>
            </div>
            <div *ngIf="idProgram !== null" class="col-lg-6 col-md-6 s text-right align-self-center">
              <a
                title="Agregar modulo"
                routerLink="../creacion-modulo"
                class="btn btn-primary btn-fab btn-fab-mini btn-round m-0 p-0"
              >
                <i class="material-icons">note_add</i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive">
          <h3 class="text-center mt-2">Sin módulos</h3>
        </div>
      </div>
    </div>
  </div>
</div>
