<div class="container-login">
  <div class="content">
    <div class="card">
      <form [formGroup]="resetPassForm">
        <div class="form-group">
          <img class="logoLogin" src="../../../assets/logoLogin.png" />
        </div>
        <div class="form-group">
          <label class="label-input" for="idUser">Contraseña nueva</label>
          <input formControlName="password" type="password" autocomplete="on" />
          <span style="color: red;" *ngIf="this.resetPassForm.get('password').hasError('pattern') ">
            La contraseña debe tener entre 5 y 16 caracteres, al menos un dígito, al menos una minúscula y comenzar con una mayúscula.
          </span>
        </div>

        <div class="form-group">
          <label class="label-input" for="passUser">Confirmar contraseña</label>
          <input
            formControlName="passwordConfirmation"
            type="password"
            autocomplete="on"
          />
          <button
            [disabled]="resetPassForm.invalid"
            class="btn btn-primary mt-4"
            (click)="resetPass()"
          >
            Actualizar contraseña
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="footer">
    <label class="content-footer">
      Copyright © 2020 - Emprende Con Éxito | Política de privacidad y cookies
    </label>
  </div>
</div>
