<div
  class="sidebar"
  data-color="blue"
  data-background-color="white"
  data-image="../assets/img/sidebar-1.jpg"
>
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <a href="#" class="simple-text logo-normal">
      <div class="sidebar-logo">
        <img class="" src="../../../assets/logoLogin.png" />
      </div>
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink='/home/dashboard' >
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink='/home/gestion-usuarios'>
          <i class="material-icons">people_alt</i>
          <p>Usuarios</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a routerLink='/home/gestion-perfil'  class="nav-link">
          <i class="material-icons">person</i>
          <p>Perfil</p>
        </a>
      </li>
    </ul>
  </div>
</div>
