<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 s">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Usuarios</h4>
          <p class="card-category">Información de usuarios</p>
        </div>
        <div class="card-body table-responsive">
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keydown)="applyFilter($event)" placeholder="Juan..." #input>
          </mat-form-field>

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

              <!-- ID Column -->
              <ng-container matColumnDef="nick">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nick </th>
                <td mat-cell *matCellDef="let row"> {{row.nick}} </td>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.nombre}}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                <td mat-cell *matCellDef="let row"> {{row.apellido}} </td>
              </ng-container>

              <!-- Color Column -->
              <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.telefono}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <!-- <div class="modal fade" id="modalUserUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title font-weight-bold" id="modal">
            Actualización de usuario
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Usuario</label>
                  <input type="text" class="form-control" id="txtUsuario" name="txtUsuario" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Nombre</label>
                  <input type="text" class="form-control" id="txtNombre" name="txtNombre" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Apellidos</label>
                  <input type="text" class="form-control" id="txtApellidos" name="txtApellidos" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Fecha de nacimiento</label>
                  <input type="date" class="form-control" id="dtFecNac" name="dtFecNac" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="sexo">Sexo</label>
                  <select class="form-control selectpicker" data-style="btn btn-link" id="sexo">
                    <option>Masculino</option>
                    <option>Femenino</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating" id="txtEmail" name="txtEmail">Email</label>
                  <input type="email" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating" id="txtTelefono" name="txtTelefono">Telefono</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating" id="txtCelular" name="txtCelular">Celular</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="ciudades">Ciudad</label>
                  <select class="form-control selectpicker" data-style="btn btn-link" id="ciudades">
                    <option>Bogotá</option>
                    <option>Medellín</option>
                    <option>Cali</option>
                    <option>Barranquilla</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="paises">Pais</label>
                  <select class="form-control selectpicker" data-style="btn btn-link" id="paises">
                    <option value="1 ">Colombia</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="rol">Rol</label>
                  <select class="form-control selectpicker" data-style="btn btn-link" id="rol">
                    <option>x</option>
                    <option>y</option>
                    <option>z</option>
                  </select>
                </div>
              </div>

            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cerrar
          </button>
          <button type="button" class="btn btn-primary">
            Guardar cambios
          </button>
        </div>
      </div>
    </div>
  </div> -->
</div>
