<div class="container-fluid animate__animated animate__fadeIn animate__faster">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-info">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#estado" data-toggle="tab">
                    <i class="material-icons">contacts</i> Estado
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    name="continuar"
                    id="continuar"
                    href="#matricula"
                    data-toggle="tab"
                  >
                    <i class="material-icons">library_books</i> Matricula
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    name="continuar"
                    id="continuar"
                    href="#programas"
                    data-toggle="tab"
                  >
                    <i class="material-icons">style</i> Programa
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="estado">
              <div class="card-body table-responsive">
                <div class="row">
                  <div class="col-md-3" *ngFor="let filter of filterSelectObj">
                    <mat-form-field  style="margin-left: 15px;">
                      <mat-label>Filter {{filter.name}}</mat-label>
                      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
                        (change)="filterChange(filter,$event, 'filterstatus')">
                        <option value="">-- Select {{filter.name}} --</option>
                        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <button (click)="resetFilters('filterstatus')" class="btn btn-danger mr-2" mat-button >
                      Reset
                    </button>
                  </div>
                </div>
                <div class="table-users mat-elevation-z8">
                  <table mat-table [dataSource]="dataSourceStatus"  #sortstatus="matSort"  matSort>

                    <ng-container matColumnDef="nombres">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nombres
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.nombres }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="apellidos">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Apellidos
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.apellidos }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Email
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.email }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Estado
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.estado }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="intereses">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Intereses
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.intereses }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="habilidades">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Habilidades
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.habilidades }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="tipoProyecto">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Tipo de proyecto
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.tipoProyecto }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="profesion">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Profesion
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.profesion }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="ocupacion">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Ocupación
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.ocupacion }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="fechaSeguimiento">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Fecha de ultimo seguimiento
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.fechaSeguimiento }}
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="fieldsStatus"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: fieldsStatus"
                    ></tr>
                  </table>
                </div>
                <!-- <mat-paginator
                  [pageSizeOptions]="[5, 10, 25, 100]"
                ></mat-paginator> -->
                <div class="mx-auto text-center mt-4">
                  <button
                    class="btn btn-primary"
                    (click)="downloadReportStatus()"
                  >
                    Descargar
                  </button>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="matricula">
              <div class="card-body table-responsive">
                <div class="row">
                  <div class="col-md-3" *ngFor="let filter of filterSelectEnrollment">
                    <mat-form-field  style="margin-left: 15px;">
                      <mat-label>Filter {{filter.name}}</mat-label>
                      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
                        (change)="filterChange(filter,$event, 'filterenrollment')">
                        <option value="">-- Select {{filter.name}} --</option>
                        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <button (click)="resetFilters('filterenrollment')" class="btn btn-danger mr-2" mat-button >
                      Reset
                    </button>
                  </div>
                </div>
                <div class="table-users mat-elevation-z8">
                  <table mat-table [dataSource]="dataSourceEnrollment" #sorterollment="matSort" matSort>
                    <ng-container matColumnDef="nombres">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nombres
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.nombres }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="apellidos">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Apellidos
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.apellidos }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Email
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.email }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="programa">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Programa
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.programa }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Estado
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.estado }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="fechaMatricula">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Fecha de matrícula
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.fechaMatricula}}
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="fieldsEnrollment"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: fieldsEnrollment"
                    ></tr>
                  </table>
                </div>
                <!-- <mat-paginator
                  [pageSizeOptions]="[5, 10, 25, 100]"
                ></mat-paginator> -->
                <div class="mx-auto text-center mt-4">
                  <button
                    class="btn btn-primary"
                    (click)="downloadEnrollment()"
                  >
                    Descargar
                  </button>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="programas">
              <div class="card-body table-responsive">
                <div class="row">
                  <div class="col-md-3" *ngFor="let filter of filterSelectPrgrms">
                    <mat-form-field  style="margin-left: 15px;">
                      <mat-label>Filter {{filter.name}}</mat-label>
                      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
                        (change)="filterChange(filter,$event, 'filterprogram')">
                        <option value="">-- Select {{filter.name}} --</option>
                        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <button (click)="resetFilters('filterprogram')" class="btn btn-danger mr-2" mat-button >
                      Reset
                    </button>
                  </div>
                </div>
                <div class="table-users mat-elevation-z8">
                  <table mat-table [dataSource]="dataSourcePrograms"  #sortprogram="matSort" matSort>

                    <ng-container matColumnDef="nombres">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nombres
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.nombres }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="apellidos">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Apellidos
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.apellidos }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Email
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.email }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Estado
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.estado }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="programa">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Programa
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.programa }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="progreso">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Avance general del programa
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.progreso }}%
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="fieldsPrograms"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: fieldsPrograms"
                    ></tr>
                  </table>
                </div>
                <!-- <mat-paginator
                  [pageSizeOptions]="[5, 10, 25, 100]"
                ></mat-paginator> -->
                <div class="mx-auto text-center mt-4">
                  <button class="btn btn-primary" (click)="downloadPrograms()">
                    Descargar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
