table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
  font-size: 1rem;
}

.mat-row:hover{
  background: #19537c1f;
  cursor: pointer;
}
.mat-header-cell, .mat-footer-cell, .mat-cell {
  min-width: 120px;
  text-align: left;
}

.table-users {
  max-width: 100%;
  overflow: auto;
  max-height: 800px;
}

/* width */
::-webkit-scrollbar {
  width:  7px;   /* Tamaño del scroll en vertical */
  height: 7px;    /* Tamaño del scroll en horizontal */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2770A4;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #17517a;
}
