<div
  class="container-fluid animate__animated animate__fadeInUp animate__faster"
>
  <div class="row">
    <div class="col-lg-12 col-md-12 s">
      <div class="card">
        <div class="card-header card-header-info">
          <div class="row">
            <div class="col-lg-6 col-md-6 s">
              <h4 class="card-title">Gestión de matriculas a programas</h4>
              <h5 class="card-title">Matriculas emprendedores</h5>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive">
          <div class="row mx-5">
            <div class="col-md-5">
              <h4 class="text-center mt-4">Emprendedores</h4>
              <div class="card mt-0">
                <div class="input-group pr-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">group</i>
                    </span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Buscar..."

                  />
                </div>
                <table class="table" aria-disabled="true">
                  <tbody>
                    <tr *ngFor="let item of usuarios">
                      <td class="text-center">
                        <input type="checkbox" name="select"  [(ngModel)]="item.checked"/>
                      </td>
                      <td>{{item.nombre}} {{item.apellido}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-2 align-self-center">
              <div class="row">
                <button (click)="addMatricula()" class="btn btn-success mx-auto" title="Agregar">
                  Agregar
                </button>
              </div>
              <div class="row">
                <button (click)="removeMatricula()" class="btn btn-danger mx-auto" title="Quitar">
                  Quitar
                </button>
              </div>
            </div>
            <div class="col-md-5 mt-4">
              <h3 class="text-center">Programas</h3>

              <div class="card mt-0">
                <mat-select
                  class="px-5 my-3"
                  placeholder="Seleccione un programa"
                  (selectionChange)="changeProgram($event)"
                >
                  <mat-option
                    *ngFor="let program of programas"
                    [value]="program.id">
                    {{ program.nombre }}
                  </mat-option>
                </mat-select>

                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of currentmatricula">
                      <td class="text-center">
                        <input type="checkbox"   [(ngModel)]="item.checked"/>
                      </td>
                      <td>{{item.nombre}} {{item.apellido}}</td>
                      <td>{{item.fechamatricula}}</td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
